

header {
    padding-top: 0px;
    text-align: right;
    font-size: 13px;
    margin: auto;
    color: black;
}


#apps {
    padding-top: 20px;
}

form {
    border-radius: 20%;
}

#button1 {
    background-color: blue;
}

button {
    border-radius: 10%;
    background-color: rgb(247, 247, 247);
    font-color: white;
}
html {
    font-size: 8px;
font-family: 'Open Sans', sans-serif;;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align:center
}

h2 {
    padding: 100px 0px 100px 0px;
}
a{
   text-decoration:none;
}

a:hover {
   text-decoration:underline;
}

#div_footer {
    display: inline;
}

#ul_footer li{
    display: inline;
}

#ul_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    height: 2.5rem;            /* Footer height */
  }