

h1 {
    text-align: right;
    font-size: 20px;
}

html {
    font-size: 8px;
font-family: 'Open Sans', sans-serif;;
}

img {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align:center
}

a{
   text-decoration:none;
}

a:hover {
   text-decoration:underline;
}